.navbar-brand {
    font-family: Raleway;
    text-transform: none;
    display: block;
    position: relative;
}
.breadcrumb-wrap {
    margin-top: 70px;
}
.navbar-brand span {
    padding-left: 170px;
    transition: padding-left 0.5s;
}
#logoImage {
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    z-index: 1000;
    transition: width 0.5s;
}

#main-nav.sticky {
    opacity: 0.8;
}

footer.container {
    border-top: 1px #ccc dashed;
    font-size: 120%;
    margin-top: 80px;
    text-align: center;
    padding-top: 15px;
}

footer a {
    color: gray;
}
footer a:hover {
    color: #0dbfa4;
}

.blog-post:last-child {
    border-bottom: none;
}

:target {
    padding-top: 80px;
    margin-top: -80px;
}

@media (max-width: 768px) {
    .navbar-brand span {
        padding-left: 70px;
    }
    #logoImage {
        top: -6px;
        width: 76px;
    }
}
@media (min-width: 993px) {
    .sticky #logoImage {
        top: -6px;
        width: 76px;
    }
    .sticky .navbar-brand span {
        padding-left: 70px;
    }
}
@media (max-width: 992px) {
    .breadcrumb-wrap {
        margin-top: 0;
    }
}
