.navbar-brand {
    font-family: Raleway;
    text-transform: none;
    display: block;
    position: relative;
}
.breadcrumb-wrap {
    margin-top: 70px;
}
.navbar-brand span {
    padding-left: 170px;
    transition: padding-left 0.7s;
}
#logoImage {
    position: absolute;
    top: 0px;
    left: 0;
    width: 200px;
    z-index: 1000;
    transition: width 0.7s;
}

#main-nav.sticky {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .navbar-brand span {
        padding-left: 70px;
    }
    #logoImage {
        top: -6px;
        width: 76px;
    }
}
@media (min-width: 993px) {
    .sticky #logoImage {
        top: -6px;
        width: 76px;
    }
    .sticky .navbar-brand span {
        padding-left: 70px;
    }
}
@media (max-width: 992px) {
    .breadcrumb-wrap {
        margin-top: 0;
    }
}
